<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>My website</title>
</head>
<body>
    <h1>Main page</h1>
    <p>You're welcome</p>

    <a href="/minesweeper"><button>Play minesweeper</button></a>
</body>
</html>